<%= form_for(@church_service) do |f| %>
  <% if @church_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@church_service.errors.count, "error") %> prohibited this church_service from being saved:</h2>

      <ul>
      <% @church_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weekday %><br>
    <%= f.text_field :weekday %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.time_select :schedule %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
